<%= form_for(@checklist_entry) do |f| %>
  <% if @checklist_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checklist_entry.errors.count, "error") %> prohibited this checklist_entry from being saved:</h2>

      <ul>
      <% @checklist_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :checklist_id %><br>
    <%= f.number_field :checklist_id %>
  </div>
  <div class="field">
    <%= f.label :template_entry_id %><br>
    <%= f.number_field :template_entry_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
