<h1>Listing checklists</h1>

<table>
  <thead>
    <tr>
      <th>Template</th>
      <th>Public</th>
      <th>User</th>
      <th>Started</th>
      <th>Finished</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @checklists.each do |checklist| %>
      <tr>
        <td><%= checklist.template_id %></td>
        <td><%= checklist.public %></td>
        <td><%= checklist.user_id %></td>
        <td><%= checklist.started %></td>
        <td><%= checklist.finished %></td>
        <td><%= link_to 'Show', checklist %></td>
        <td><%= link_to 'Edit', edit_checklist_path(checklist) %></td>
        <td><%= link_to 'Destroy', checklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checklist', new_checklist_path %>
