<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chekhov - Simple checklists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      window.is_admin = <%= Authorization.current_user.role_symbols.include? :admin %>;
      window.user_id = <%= Authorization.current_user.id %>;
      window.user_name = "<%= Authorization.current_user.loginid %>";
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv" %>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path "ico/apple-touch-icon-144-precomposed.png" %>">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path "ico/apple-touch-icon-114-precomposed.png" %>">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path "ico/apple-touch-icon-72-precomposed.png" %>">
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path "ico/apple-touch-icon-57-precomposed.png" %>">
    <link rel="shortcut icon" href="<%= asset_path "favicon.ico" %>">
  </head>

  <body>

    <div class="container" ng-app="ChekhovApp">

      <div class="masthead">
        <span style="float: right; color: #bbb; font-size: 1.0rem;">
          <p>Logged in as <%= Authorization.current_user.name %> (<%= Authorization.current_user.role_symbols.include?(:admin) ? "Administrator" : "Regular User" %>)</p>
        </span>
        <h2><%= link_to 'Chekhov', root_url %></h2>
      </div>

      <div class="row">
        <div class="nav-sidebar col-md-3" ng-controller='NavigationCtrl'>
          <ul class="nav nav-pills nav-stacked" style="margin-bottom: 2.0em; margin-top: 1.0em;">
              <li id="nav-item-start-new" ng-class="{active: isActive('/')}"><a href="#"><span class="glyphicon glyphicon-pencil"></span>Start New</a></li>
              <!-- Need to use the number filter so a *_count value of 0 can be displayed instead of @????_count -->
              <li id="nav-item-in-progress" ng-class="{active: isActive('/active')}"><a href="#/active"><span class="glyphicon glyphicon-time"></span>In Progress <span class="label label-primary">{{(active_count | number) || <%= @active_count %>}}</span></a></li>
              <li id="nav-item-completed" ng-class="{active: isActive('/archived')}"><a href="#/archived"><span class="glyphicon glyphicon-ok"></span>Completed <span class="label label-default">{{(archived_count | number) || <%= @archived_count %>}}</span></a></li>
          </ul>
          <span ng-show="user.is_admin">
            <h4 style="padding-left: 10px; color: #444;">&nbsp;</h4>
            <ul class="nav nav-pills nav-stacked">
                <li id="nav-item-create-template" ng-class="{active: isActive('/templates/new')}"><a href="#/templates/new">
                    <span class="glyphicon glyphicon-plus" style="margin-right: 5px;"></span>Create Template
                </a></li>
                <li id="nav-item-manage-templates" ng-class="{active: isActive('/templates/manage')}"><a href="#/templates/manage">
                    <span class="glyphicon glyphicon-th-large"></span>Manage Templates
                    <span class="label label-info">{{(template_count | number) || <%= @template_count %>}}</span>
                </a></li>
            </ul>
          </span>
        </div>
        <div class="col-md-9">
          <%= yield %>
        </div>
      </div> <!-- .row -->

      <div class="footer">
        <p>&copy; 2013-<%= Time.now.year %> UC Davis Division of Social Science IT</p>
      </div>

    </div> <!-- .container -->

    <script type="text/javascript">
      $(document).ready(function() {
        var sidebarBorderColor = "rgb(66, 139, 202)";
        var $currentPageNavbarItem = $(".nav-sidebar li#nav-item-completed");

        $(".nav-sidebar").css("border-right-color", sidebarBorderColor);
/*
        $(".nav-sidebar li>a").hover(
          function() {
            // Mouse in
            $(".nav-sidebar").css("border-right-color", $(this).css("background-color"));
            $(".nav-sidebar li").each(function() {
              $(this).removeClass('active');
            });
            $(this).parent().addClass('active');
            $currentPageNavbarItem.removeClass('active');
          },
          function() {
            // Mouse out
          }
        );

        $(".nav-sidebar").mouseleave(function() {
          // Restore default colors
          $(".nav-sidebar li").each(function() {
            $(this).removeClass('active');
          });
          $currentPageNavbarItem.addClass('active');
          $(".nav-sidebar").css("border-right-color", sidebarBorderColor);
        });
*/

        //== Adjust the brand
        var PREEVYET_DELAY = 60000;

        function preevyet() {
          $("h2>a").addClass("comrade");

          setTimeout(
            function() {
              $("h2>a").removeClass("comrade");
            },
          250);

          setTimeout(preevyet, PREEVYET_DELAY);
        }

        setTimeout(
          function() {
            preevyet();
          },
        PREEVYET_DELAY);
      });
    </script>

  </body>
</html>
